extends ../layouts/default

include ../../components/hero/hero

append vars
  -
    page.name  = "job"
    page.title = "Работа в ОГО!"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts

  //- Скрипты только для этой страницы

block content
  section.content-section
    h2.content-section__title Вакансии
    p Добро пожаловать на нашу страницу вакансий! Мы — онлайн-гипермаркет «ОГО!»  - магазин электроники, который активно развивается с 2010 года и занимает устойчивое положение на рынке электронной коммерции. Наша компания постоянно расширяет ассортимент товаров, чтобы предложить клиентам лучшие предложения и удовлетворить их потребности.
    p Мы ищем талантливых и опытных специалистов, которые готовы присоединиться к нашей команде и внести свой вклад в развитие нашего бизнеса. Если вы обладаете знаниями в области электроники, умеете работать с клиентами и готовы обучаться новым технологиям, то наша вакансия именно для вас.
    p Мы предлагаем:
    ul
      li конкурентную заработную плату и возможность карьерного роста;
      li обучение и развитие внутри компании;
      li дружный коллектив и корпоративную культуру;
      li удобный график работы и комфортные условия труда.
      li Чтобы подать заявку, перейдите по ссылке интересующей Вас вакансии, и оставьте отклик со своим резюме на сайте HeadHunter.

    +hero().mb-3

    script(class="hh-script" src="https://api.hh.ru/widgets/vacancies/employer?employer_id=862661&locale=RU&links_color=1560b2&border_color=1560b2&show_region=true&title=%D0%9E%D1%82%D0%BA%D1%80%D1%8B%D1%82%D1%8B%D0%B5+%D0%B2%D0%B0%D0%BA%D0%B0%D0%BD%D1%81%D0%B8%D0%B8+%D0%B2+%D0%9E%D0%93%D0%9E!+%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D0%B3%D0%B8%D0%BF%D0%B5%D1%80%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%B5")

    //- .row.g-3.g-lg-4
    //-   .col-12.col-md-8.col-lg-9.order-2.order-md-1

    //-     .accordion.js-accordion(data-single=true)
    //-       .accordion-item.js-accordion-item
    //-         .accordion-header.js-accordion-header
    //-           span Кладовщик магазина (м. Площадь Ильича)
    //-         .accordion-body.js-accordion-body
    //-           h4 Обязанности
    //-           ul
    //-             li Приём и отгрузка товара;
    //-             li Выдача товара клиентам, оформление гарантийных документов;
    //-             li Поддержание порядка на складе;
    //-             li Участие в проведении инвентаризации.

    //-           h4 Требования
    //-           ul
    //-             li Опрятный внешний вид и доброжелательность;
    //-             li Желательно иметь представление о технике в целом.

    //-           h4 Условия
    //-           ul
    //-             li Место работы: м. Площадь Ильича;
    //-             li Заработная плата: 50 000 руб. в месяц на руки;
    //-             li Испытательный срок: 3 месяца;
    //-             li Своевременная выплата заработной платы;
    //-             li Отпуск 4 недели в год;
    //-             li График работы: сменный 4/3 с 10.00-22.00;
    //-             li Переработки оплачиваем.
    //-           a(href=process.env.FEEDBACK_FORM_URL data-show-tab="#question-tab-pane" data-form="form-question" data-values='{"theme":4, "comment":"Кладовщик магазина (м. Площадь Ильича)"}').btn.btn-primary.mb-3.js-feedback-popup Отправить резюме

    //-       .accordion-item.js-accordion-item
    //-         .accordion-header.js-accordion-header
    //-           span Кладовщик склада техники
    //-         .accordion-body.js-accordion-body
    //-           h4 Обязанности
    //-           ul
    //-             li Прием нового товара;
    //-             li Распределение товара на складе;
    //-             li Сбор товара по накладным;
    //-             li Проведение периодических инвентаризаций.

    //-           h4 Требования
    //-           ul
    //-             li Опыт работы не требуется;
    //-             li Желательно иметь представление о технике в целом.

    //-           h4 Условия
    //-           ul
    //-             li Заработная плата от 55 000 рублей;
    //-             li Своевременные выплаты;
    //-             li Чистый, оборудованный, комфортный и теплый склад;
    //-             li Подработки оплачиваются в повышенном размере;
    //-             li Доплаты за выслугу лет;
    //-             li Испытательный срок 3 месяца;
    //-             li Оплачиваемый отпуск: 4 недели в год;
    //-             li Место работы: ст. м. Кантемировская и ст. м. Чертановская;
    //-             li График: 4/3 с 8.00 до 20.00, плавающие выходные.

    //-           a(href=process.env.FEEDBACK_FORM_URL data-show-tab="#question-tab-pane" data-form="form-question" data-values='{"theme":4, "comment":"Кладовщик склада техники"}').btn.btn-primary.mb-3.js-feedback-popup Отправить резюме

    //-       .accordion-item.js-accordion-item
    //-         .accordion-header.js-accordion-header
    //-           span Кладовщик магазина (м. Динамо)
    //-         .accordion-body.js-accordion-body
    //-           h4 Обязанности
    //-           ul
    //-             li Приём и отгрузка товара;
    //-             li Выдача товара клиентам, оформление гарантийных документов;
    //-             li Поддержание порядка на складе;
    //-             li Участие в проведении инвентаризации.

    //-           h4 Требования
    //-           ul
    //-             li Опрятный внешний вид и доброжелательность;
    //-             li Желательно иметь представление о технике в целом.

    //-           h4 Условия
    //-           ul
    //-             li Место работы: м. Динамо;
    //-             li Заработная плата: 50 000 руб. в месяц на руки;
    //-             li Испытательный срок: 3 месяца;
    //-             li Своевременная выплата заработной платы;
    //-             li Отпуск 4 недели в год;
    //-             li График работы: сменный 4/3 с 10.00-22.00;
    //-             li Переработки оплачиваем.

    //-           a(href=process.env.FEEDBACK_FORM_URL data-show-tab="#question-tab-pane" data-form="form-question" data-values='{"theme":4, "comment":"Кладовщик магазина (м. Динамо)"}').btn.btn-primary.mb-3.js-feedback-popup Отправить резюме

    //-   .col-12.col-md-4.col-lg-3.order-1.order-md-2
    //-     a(href=process.env.FEEDBACK_FORM_URL data-show-tab="#question-tab-pane" data-form="form-question" data-values='{"theme":4}').btn.btn-primary.w-100.mb-3.js-feedback-popup Отправить резюме

    //-     h3.mt-3.text-center Как устроиться в ОГО!
    //-     .job-steps
    //-       .job-step
    //-         span.job-step__text Отправить резюме или информацию о себе. Ваше резюме обязательно будет рассмотрено нашим сотрудником.
    //-       .job-step
    //-         span.job-step__text В случае, если Ваша кандидатура нас заинтересует, мы сами свяжемся с Вами для назначения даты собеседования.
    //-       .job-step
    //-         span.job-step__text Если мы не связались с Вами в ближайшее время, значит мы не можем в данный момент предложить Вам вакансию.