extends ../layouts/default

include ../../components/button/button
include ../../components/fields/fields
include ../../components/product/product
include ../../components/product-card/product-card
include ../../components/products-slider/products-slider
include ../../components/props-list/props-list
include ../../components/popup/popup
include ../../components/share-buttons/share-buttons
include ../../components/stars/stars

append vars
  -
    page.name  = "product"
    page.title = "Смартфон Samsung Galaxy S24 Ultra SM-S928B 12/1Tb Titanium Yellow (EAC)"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

    data.product = {
      "id": "388628",
      "available": true,
      "title": "Смартфон Samsung Galaxy S24 Ultra SM-S928B 12/1Tb Titanium Yellow (EAC)",
      "image": "/assets/img/content/products/388628.jpg",
      "gallery": [
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-1.jpg",
          "2x": "/assets/img/content/products/388628-1-2x.jpg",
        },
        {
          "type": "video",
          "src": "https://www.youtube.com/embed/jfKfPfyJRdk",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-2.jpg",
          "2x": "/assets/img/content/products/388628-2-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-3.jpg",
          "2x": "/assets/img/content/products/388628-3-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-4.jpg",
          "2x": "/assets/img/content/products/388628-4-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-5.jpg",
          "2x": "/assets/img/content/products/388628-5-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-6.jpg",
          "2x": "/assets/img/content/products/388628-6-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-7.jpg",
          "2x": "/assets/img/content/products/388628-7-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-8.jpg",
          "2x": "/assets/img/content/products/388628-8-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-9.jpg",
          "2x": "/assets/img/content/products/388628-9-2x.jpg",
        },
        {
          "type": "image",
          "src": "/assets/img/content/products/388628-10.jpg",
          "2x": "/assets/img/content/products/388628-10-2x.jpg",
        }
      ],
      "thumbs": [
        "/assets/img/content/products/388628-thumb-1.jpg",
        "https://img.youtube.com/vi/jfKfPfyJRdk/default.jpg",
        "/assets/img/content/products/388628-thumb-2.jpg",
        "/assets/img/content/products/388628-thumb-3.jpg",
        "/assets/img/content/products/388628-thumb-4.jpg",
        "/assets/img/content/products/388628-thumb-5.jpg",
        "/assets/img/content/products/388628-thumb-6.jpg",
        "/assets/img/content/products/388628-thumb-7.jpg",
        "/assets/img/content/products/388628-thumb-8.jpg",
        "/assets/img/content/products/388628-thumb-9.jpg",
        "/assets/img/content/products/388628-thumb-10.jpg",
      ],
      "rating": 4,
      "price": 167990,
      "price_old": 177990,
      "price_jur": 167990,
      "bonus": 419,
      "badges": [
        {
          "text": "Красный",
          "variant": "primary",
          "tooltip": "Новый. Комплектация полная. Упаковка оригинальная. Повреждена упаковка"
        },
        {
          "text": "Зеленый",
          "variant": "success",
          "tooltip": "Был в использовании. Из ремонта (Замена компонентов). Комплектация полная. Упаковка отсутствует. Внешние повреждения: Царапина на корпусе. Не повреждена упаковка."
        },
        {
          "text": "Желтый",
          "variant": "warning",
          "tooltip": "Новый. Комплектация полная. Упаковка оригинальная. Не повреждена упаковка. Вскрыта упаковка в использовании не был."
        },
        {
          "text": "Синий",
          "variant": "info",
          "tooltip": "Новый. Комплектация полная. Упаковка оригинальная. Повреждена упаковка"
        },
        {
          "text": "Уцененный",
          "variant": "warning"
        }
      ],
      "props": [
        {
          "group": "Самое главное",
          "items": [
            { "key": "Партномер", "value": "SM-S928BZYPCAU" },
            { "key": "Количество тыловых камер", "value": "4" },
            { "key": "Особенности", "value": "Голосовой помощник: Alexa, Google, Алиса, Маруся; Рекомендуемая площадь - 70 м2; Индикации: включения/режима работы/звуковая" },
            { "key": "Особенности", "value": "Голосовойпомощник:Alexa,Google,Алиса,Маруся;Рекомендуемаяплощадь-70м2;Индикации:включения/режимаработы/звуковая" },
            { "key": "Количество фронтальных камер", "value": "1" },
            { "key": "Wi-Fi (стандарт)", "value": "Wi-Fi 6 (802.11ax)" },
            { "key": "Wi-Fi", "value": "Да" },
            { "key": "Bluetooth", "value": "Да" },
            { "key": "Камера основная (Мп)", "value": "200" },
            { "key": "4G (LTE)", "value": "Да" },
            { "key": "Тип SIM карты", "value": "Nano SIM + eSIM" },
            { "key": "Тип матрицы", "value": "Dynamic AMOLED 2X" },
            { "key": "Размер экрана (Дюймы)", "value": "6,8" },
            { "key": "Объем встроенной памяти", "value": "1 ТБ" },
            { "key": "Емкость аккумулятора (мАч)", "value": "5 000" },
            { "key": "Разрешение", "value": "3120х1440" },
            { "key": "Объем оперативной памяти (ГБ)", "value": "12" }
          ]
        },
        {
          "group": "Аккумулятор",
          "items": [
            { "key": "Емкость аккумулятора (мАч)", "value": "5000" },
            { "key": "Время работы в интернете (ч)", "value": "28" },
            { "key": "Время воспроизведения видео (ч)", "value": "30" },
            { "key": "Время воспроизведения аудио (ч)", "value": "95" },
            { "key": "Съемный аккумулятор", "value": "Нет" }
          ]
        },
        {
          "group": "Видео разъёмы",
          "items": [{ "key": "Поддержка стандарта MHL", "value": "Нет" }]
        },
        {
          "group": "Габариты и вес",
          "items": [
            { "key": "Цвет", "value": "Желтый" },
            { "key": "Размеры (мм)", "value": "162.3 х 79 х 8.6" },
            { "key": "Вес (г)", "value": "232" }
          ]
        },
        {
          "group": "Главное",
          "items": [{ "key": "Цвет", "value": "Titanium Yellow" }]
        },
        {
          "group": "Датчики",
          "items": [
            { "key": "Датчик автоповорота экрана", "value": "Да" },
            { "key": "Сканер отпечатка пальца", "value": "Да" },
            { "key": "Расположение сканера отпечатка пальца", "value": "На дисплее" },
            { "key": "Сканер распознавания лица (Разблокировка)", "value": "Да" },
            { "key": "Датчик сердечного ритма", "value": "Нет" },
            { "key": "Сканер радужки глаза", "value": "Нет" }
          ]
        },
        {
          "group": "Дисплей",
          "items": [
            { "key": "Тип матрицы", "value": "Dynamic AMOLED 2X" },
            { "key": "Размер экрана (Дюймы)", "value": "6.8" },
            { "key": "Разрешение", "value": "3120х1440" },
            { "key": "Число пикселей на дюйм (PPI)", "value": "501" },
            { "key": "Соотношение сторон", "value": "19.3 : 9" },
            { "key": "Частота обновления (Гц)", "value": "120" },
            { "key": "Яркость (кд/м2)", "value": "2600" },
            { "key": "Сенсорный экран", "value": "Да" }
          ]
        },
        {
          "group": "Звук",
          "items": [
            { "key": "Звук", "value": "Стереодинамики" },
            { "key": "FM радио", "value": "Нет" }
          ]
        },
        {
          "group": "Камера",
          "items": [
            { "key": "Количество тыловых камер", "value": "4" },
            { "key": "Тыловые камеры (Мп)", "value": "200 + 50 + 12 + 10" },
            { "key": "Количество фронтальных камер", "value": "1" },
            { "key": "Камера основная (Мп)", "value": "200" },
            { "key": "Светосила основной камеры", "value": "f/1.7 - f/2.2 - f/2.4 - f/3.4" },
            { "key": "Камера фронтальная (Мп)", "value": "12" },
            { "key": "Светосила фронтальной камеры", "value": "f/2.2" },
            { "key": "Поворотная / Выдвижная камера", "value": "Нет" },
            { "key": "Оптическая стабилизация", "value": "Да" },
            { "key": "Зум", "value": "Гибридный" },
            { "key": "Максимальное разрешение видеосъемки", "value": "7680x4320 (8K)" }
          ]
        },
        {
          "group": "Камера макросъемки",
          "items": [{ "key": "Камера макросъемки", "value": "Нет" }]
        },
        {
          "group": "Камера с датчиком глубины",
          "items": [{ "key": "Камера с датчиком глубины (ToF)", "value": "Нет" }]
        },
        {
          "group": "Камера сверхширокоугольная",
          "items": [
            { "key": "Камера сверхширокоугольная", "value": "Да" },
            { "key": "Камера сверхширокоугольная (Мп)", "value": "12" }
          ]
        },
        {
          "group": "Камера телефото",
          "items": [{ "key": "Телефотокамера", "value": "Да" }]
        },
        {
          "group": "Камера широкоугольная",
          "items": [
            { "key": "Камера широкоугольная", "value": "Да" },
            { "key": "Камера широкоугольная (Мп)", "value": "200" }
          ]
        },
        {
          "group": "Камера эффекта боке",
          "items": [{ "key": "Камера для эффекта боке (размытие фона)", "value": "Нет" }]
        },
        {
          "group": "Комплектация",
          "items": [
            { "key": "Комплектация", "value": "документация, кабель USB Type-C, электронное перо S Pen, скрепка для извлечения слота SIM-карты или карты памяти" },
            { "key": "Гарнитура в комплекте", "value": "Нет" },
            { "key": "ЗУ в комплекте", "value": "Нет" }
          ]
        },
        {
          "group": "Конструкция",
          "items": [
            { "key": "Тип устройства", "value": "Смартфон" },
            { "key": "Тип корпуса", "value": "Моноблок" },
            { "key": "Дополнительный дисплей", "value": "Нет" },
            { "key": "Тип клавиатуры", "value": "Экранная" },
            { "key": "Влагозащита", "value": "Да" },
            { "key": "Пыле-влагозащита (степень)", "value": "IP68" },
            { "key": "Материалы", "value": "Металл / Стекло" },
            { "key": "Фонарь", "value": "Нет" }
          ]
        },
        {
          "group": "Конфигурация",
          "items": [
            { "key": "Объем встроенной памяти", "value": "1 ТБ" },
            { "key": "Объем оперативной памяти (ГБ)", "value": "12" },
            { "key": "Операционная система", "value": "Android" },
            { "key": "Версия операционной системы", "value": "Android 14" }
          ]
        },
        {
          "group": "Питание",
          "items": [
            { "key": "Быстрая зарядка", "value": "Да" },
            { "key": "Быстрая зарядка (стандарт)", "value": "Power Delivery 3.0" },
            { "key": "Беспроводная зарядка", "value": "Да" },
            { "key": "Быстрая беспроводная зарядка", "value": "Да" },
            { "key": "Режим портативного аккумулятора (Power Bank)", "value": "Нет" }
          ]
        },
        {
          "group": "Процессор",
          "items": [
            { "key": "Видеокарта", "value": "Adreno 750" },
            { "key": "Модель процессора", "value": "Snapdragon 8 Gen 3" },
            { "key": "Количество ядер", "value": "8" },
            { "key": "Частота процессора базовая (МГц)", "value": "3300" }
          ]
        },
        {
          "group": "Разъемы и интерфейсы",
          "items": [
            { "key": "Тип SIM карты", "value": "Nano SIM + eSIM" },
            { "key": "Количество SIM-карт", "value": "2" },
            { "key": "Режим работы SIM карт", "value": "Попеременный" },
            { "key": "Слот для карты памяти", "value": "Нет" },
            { "key": "Карты памяти", "value": "Нет" },
            { "key": "Разъемы", "value": "USB C" },
            { "key": "Поддержка стандарта OTG", "value": "Да" }
          ]
        },
        {
          "group": "Сетевые подключения",
          "items": [
            { "key": "Wi-Fi (стандарт)", "value": "Wi-Fi 6 (802.11ax)" },
            { "key": "Wi-Fi", "value": "Да" },
            { "key": "Wi-Fi Direct", "value": "Да" },
            { "key": "Bluetooth (версия)", "value": "5.3" },
            { "key": "Bluetooth", "value": "Да" },
            { "key": "4G (LTE)", "value": "Да" },
            { "key": "3G", "value": "Да" },
            { "key": "NFC", "value": "Да" },
            { "key": "Навигация", "value": "GPS+ГЛОНАСС+Galileo+BeiDou+QZSS" }
          ]
        }
      ]
    }

    data.service_prices = [
      { "key": "Выезд мастера по городу", "value": "300 ₽" },
      { "key": "Выезд мастера за пределы города (МКАД, КАД)", "value": "30 ₽/км" }
    ]

    data.services = [
      { "key": "Стандартный монтаж 07-09 серии (до 2,8 кВт)", "value": "от 11 800 ₽" },
      { "key": "Стандартный монтаж 12 серии (до 3,6 кВт)", "value": "от 12 300 ₽" },
      { "key": "Стандартный монтаж 15-18 серии (до 5,5 кВт)", "value": "от 16 500 ₽" },
      { "key": "Стандартный монтаж 24 серии (до 7,1 кВт)", "value": "от 18 500 ₽" },
      { "key": "Демонтаж кондиционера 7-12 модели", "value": "от 3 500 ₽" },
      { "key": "Демонтаж кондиционера 18-24 модели", "value": "от 5 000 ₽" },
      { "key": "Предварительный выезд мастера на замер, консультацию", "value": "от 800 ₽" }
    ]

    reviewsSortOptions = [
      { value: "date", text: "Сначала новые", data: {"dir": "desc"} },
      { value: "date", text: "Сначала старые", data: {"dir": "asc"} },
      { value: "rate", text: "Сначала с высокой оценкой", data: {"dir": "desc"} },
      { value: "rate", text: "Сначала с низкой оценкой", data: {"dir": "asc"} },
    ]

prepend scripts
  //- Скрипты только для этой страницы
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

block content
  section.content-section
    .product-page
      .product-page__header
        //- Звезды рейтинг
        .product-page__rating(data-scroll-to="#product-reviews")
          +stars(data.product.rating)
          .product-page__rating-text Отзывов пока нет – станьте первым!

        //- Артикул
        .product-page__artikul
          | Артикул
          b= data.product.id

        //- Бейджи, лейблы
        +product-badges(data.product.badges)

      .product-page__detail
        //- Слайдер и тумбы
        .product-page__photo
          .product-slider
            .product-slider__images-wrapper
              span.product-label.product-label--super Супер цена
              span.product-label.product-label--new Новинка
              span.product-label.product-label--hit Хит продаж
              .product-icons
                span.product-icon.product-icon--discount -1%
                span.product-icon.product-icon--digital.js-tooltip(data-tooltip-content="Товар можно оплатить картой прямо на сайте")
                span.product-icon.product-icon--gaming
                span.product-icon.product-icon--express
                span.product-icon.product-icon--delivery
                span.product-icon.product-icon--gift

              +product-slider-images(data.product.gallery)
            .product-slider__thumbs-wrapper
              +product-slider-thumbs(data.product.thumbs)

        //- Варианты
        .product-page__options
          //- Наличие
          span.product-available В наличии
          span.product-notavailable Нет в наличии

          //- Бейджи, лейблы
          +product-badges(data.product.badges)
            a(href="#").product-badges__link Есть такой новый

          //- Размеры
          .product-variants
            p.product-variants__title Размер:&nbsp;<strong>46</strong>
            .product-variants__list
              a(href="#" class="product-variants__item" title="40") 40
              a(href="#" class="product-variants__item" title="42") 42
              a(href="#" class="product-variants__item not-avail" title="44 (нет в наличии)") 44
              a(href="#" class="product-variants__item is-active" title="46") 46
              a(href="#" class="product-variants__item" title="46") 46

          //- Цвет/SKU
          .product-variants
            p.product-variants__title Цвет:&nbsp;<strong>Желтый</strong>
            .product-variants__list
              a(href="#" class="product-variants__item is-active" title="Желтый")
                img(src="/assets/img/content/products/388628-thumb-1.jpg" class="product-variant__image" alt="Желтый")
              a(href="#" class="product-variants__item not-avail" title="Фиолетовый (нет в наличии)")
                img(src="/assets/img/content/products/388628-thumb-1.jpg" class="product-variants__image" alt="Фиолетовый (нет в наличии)")
              a(href="#" class="product-variants__item" title="Серый")
                img(src="/assets/img/content/products/388628-thumb-1.jpg" class="product-variants__image" alt="Серый")
              a(href="#" class="product-variants__item not-avail" title="Черный (нет в наличии)")
                img(src="/assets/img/content/products/388628-thumb-1.jpg" class="product-variants__image" alt="Черный (нет в наличии)")

          //- Гарантия
          .product-guarantee
            +svg-icon("ui--shield-sm", "sm").text-success
            | Гарантия авторизованного сервис-центра: 12 месяцев

          //- Описание уценки
          .product-discount
            span.product-discount__title Причина уценки
            span.product-discount__desc Новый. Комплектация полная. Упаковка оригинальная. Повреждена упаковка.

        .product-page__info
          //- Цена
          .product-page__price-wrapper
            .product-page__price-badge.badge.text-bg-primary
              +svg-icon("ui--airplane-fill-sm", "xs")
              | Доставка из-за рубежа

            .product-page__price
              .product-page__price-current= formatNumber(data.product.price) + " ₽"

            .product-page__price
              .product-page__price-new= formatNumber(data.product.price) + " ₽"
              .product-page__price-old= formatNumber(data.product.price_old) + " ₽"

            .product-page__price-note= "Для организаций по б/н " + formatNumber(data.product.price_jur) + " ₽ вкл. НДС 20%"

            .product-page__price-note
              |Ожидаемая пошлина 1 234 ₽
              +svg-icon("ui--question-fill-sm", "sm")(data-tooltip-content="Тултип про пошлину").text-info.js-tooltip

            .product-page__bonus
              +svg-icon("ui--bonus", "sm")
              =data.product.bonus
              | &nbsp;
              //- Хелпер pluralize из /views/helpers/mixins выбирает нужное склонение чисел
              +pluralize(data.product.bonus, "бонус", "бонуса", "бонусов")
              +svg-icon("ui--info-fill", "sm")(class="js-tooltip" data-tooltip-title="Бонусы!" data-tooltip-content="Копите бонусы и оплачивайте ими до 50% покупки!<br><a href='/pages/bonus_card/' target='_blank'>Подробнее</a>" data-tippy-placement="right" data-tippy-interactive="true" data-tippy-close="true")

            +button(tag="a" href="#" variant="primary sm" text="В конфигуратор" class="product-page__buy w-100 js-configurator-action" icon="ui--gear-sm" data-action="add" data-id=data.product.id)
            +button(tag="a" href="#" variant="primary sm" text="Купить" class="product-page__buy w-100 js-add-to-cart" icon="ui--shopping-cart-sm" data-id=data.product.id)

            +button(tag="a" href="#popup-product-preorder" variant="primary sm" text="Предзаказ" class="product-page__buy w-100" data-fancybox)
            +popup-product-preorder()

            .product-page__price-note= "Этот товар доставляется из-за рубежа"

          //- Избранное, сравнить, поделиться
          .product-page__controls
            +button(type="button" variant="link xs" class="js-add-to-list" icon="ui--heart" iconSize="sm" data-id=data.product.id data-list="favorites" data-action="add" data-text="В избранное")
            +button(type="button" variant="link xs" class="js-add-to-list" icon="ui--comparison" iconSize="sm" data-id=data.product.id data-list="comparison" data-action="ADD_TO_COMPARE_LIST" data-text="Сравнить")
            +button(type="button" variant="link xs" class="js-tooltip" text="Поделиться" icon="ui--share" iconSize="sm" data-tippy-trigger="click" data-tooltip-html="#product-share" data-tippy-interactive="true" data-tippy-placement="bottom")
            #product-share(style="display: none;")
              +share-buttons(true)

          //- Доставка
          //- +button(text="Доставка" class="js-product-pickup")
          //- +popup-pickup()
          +product-delivery(data-id=data.product.id).js-product-delivery

          //- Альтернативы
          .product-alternative
            span.product-alternative__title Дешевле с доставкой из-за рубежа
            a(href="#").product-alternative__link= data.product.title
              img(src="/assets/img/content/products/388628-thumb-4.jpg" alt="Супер товар из РФ по лучшей цене").product-alternative__image
              .product-alternative__price
                span.product--alternative__price-current= formatNumber(data.product.price) + " ₽"

          .product-alternative
            span.product-alternative__title Этот товар сейчас в наличии в России. Доставка будет быстрее
            a(href="#").product-alternative__link= data.product.title
              img(src="/assets/img/content/products/388628-thumb-4.jpg" alt="Супер зарубежный товар").product-alternative__image
              .product-alternative__price
                span.product-alternative__price-new= formatNumber(data.product.price) + " ₽"
                span.product-alternative__price-old= formatNumber(data.product.price_old) + " ₽"

          //- Подписка на телегу
          a(href="#" class="btn btn product-discount__button") Подписаться на канал ОГО! Уценка

  section.content-section.mb-3.pt-2.bg-secondary#product-nav
    ul.nav.nav-tabs.justify-content-center.mb-0
      li.nav-item
        a(href="#product-specs" data-scroll-to).nav-link Характеристики
      li.nav-item
        a(href="#product-overview" data-scroll-to).nav-link Обзор
      li.nav-item
        a(href="#product-accesories" data-scroll-to).nav-link Аксессуары
      li.nav-item
        a(href="#product-reviews" data-scroll-to).nav-link Отзывы
      li.nav-item
        a(href="#product-questions" data-scroll-to).nav-link Вопросы и ответы
      li.nav-item
        a(href="#pproduct-services" data-scroll-to).nav-link Услуги

  section.content-section#product-specs
    h2 Технические характеристики
    .accordion.js-accordion
      each prop in data.product.props
        .accordion-item.js-accordion-item
          .accordion-header.js-accordion-header= prop.group
          .accordion-body.js-accordion-body
            .row.g-3.g-lg-4
              .col-12.col-lg-6
                +props-list(prop.items)

  section.content-section#product-manufacturer
    .product-manufacturer
      p Изготовитель: Samsung Electronics Co., Ltd. Республика Корея, (Maetan-dong) 129, Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do, 16677
      p Срок службы: 24 месяца

  section.content-section#product-services
    h2 Услуги

    ul
      li Распаковка и визуальная проверка прибора: Мастер распаковывает кондиционер и осматривает его на наличие повреждений или дефектов.
      li Пробитие отверстия в стене под коммуникации: Создаются отверстия в стене для прокладки трубопроводов и электрических кабелей.
      li Прокладка межблочных коммуникаций: Проводятся межблочные коммуникации, которые соединяют внутренний и наружный блоки кондиционера.
      li Подключение к существующей электросети: Мастер подключает кондиционер к электросети для его питания.
      li Установка внутреннего блока на высоту до 2.5 м: Внутренний блок кондиционера устанавливается на стену или потолок на определенной высоте для оптимального распределения воздушного потока.
      li Установка наружного блока: Наружный блок размещается под окном или на балконе с учетом требований безопасности и эстетики.
      li Пусконаладочные работы и вакуумирование трассы: Мастер проводит пусконаладочные работы, включая вакуумирование трассы и замеры давления, чтобы убедиться в правильной работе кондиционера.

    p Важно отметить, что при установке кондиционера на первом этаже наружный блок крепится с помощью лестницы на высоту до 2 метров.

    h3 Стоимость услуг
    .row.g-3.g-lg-4
      .col-12.col-md-8.col-lg-6
        +props-list(data.service_prices)

    h3 Услуги по установке сплит-систем
    .row.g-3.g-lg-4
      .col-12.col-md-8.col-lg-6
        +props-list(data.services)

    p * Прайс лист, действующий с 01.03.2024 по 31.08.2024.

  section.content-section#product-overview
    h2 Обзор

  section.content-section#product-certificates
    h2 Сертификаты
    .row.row-cols-8
      .col
        a(href="/assets/img/content/certificate.jpg" data-fancybox="product-certificates")
          img(src="/assets/img/content/certificate.jpg" class="img-thumbnail" alt="")
      .col
        a(href="/assets/img/content/certificate.jpg" data-fancybox="product-certificates")
          img(src="/assets/img/content/certificate.jpg" class="img-thumbnail" alt="")
      .col
        a(href="/assets/img/content/certificate.jpg" data-fancybox="product-certificates")
          img(src="/assets/img/content/certificate.jpg" class="img-thumbnail" alt="")

  section.content-section#product-accesories
    h2 Аксессуары
    nav.tags.mb-3
      ul.tags-list.js-slider-filter(data-slider-id="product-related")
        li.tags-item
          a(href="#" data-filter="all").tags-link.is-active Все
        li.tags-item
          a(href="#" data-filter="1").tags-link MSI Stealth
        li.tags-item
          a(href="#" data-filter="2").tags-link Redmi Note 12
        li.tags-item
          a(href="#" data-filter="3").tags-link HP Zbook Fury
        li.tags-item
          a(href="#" data-filter="4").tags-link MSI Titan 18
        li.tags-item
          a(href="#" data-filter="5").tags-link Galaxy S24
        li.tags-item
          a(href="#" data-filter="6").tags-link IPhone 13

    +products-slider(id="product-related" data-swiper='{"loop": false}')

  section.content-section#product-reviews
    h2 Отзывы

    .product-reviews(data-id=data.product.id)
      .row.g-3.g-lg-4
        .col-12.col-lg-3.order-lg-2
          .product-rating__slot
          +button(tag="a" href="#popup-product-review" text="Написать отзыв" class="w-100" icon="ui--edit" data-fancybox)
          +popup-product-review()

        .col-12.col-lg-9.order-lg-1
          .product-reviews__controls.hidden
            .row.g-3.g-lg-4.justify-content-between
              .col-12.col-md-auto
                .btn-group.btn-group-sm
                  input(type="radio" class="btn-check product-reviews__filter" value="all" name="source" id="reviews-filter-all" autocomplete="off" checked)
                  label(for="reviews-filter-all" class="btn btn-outline-info") Все отзывы
                  input(type="radio" class="btn-check product-reviews__filter" value="ogo" name="source" id="reviews-filter-ogo" autocomplete="off")
                  label(for="reviews-filter-ogo" class="btn btn-outline-info") Отзывы Ого!
              .col-12.col-md-auto
                +select(variant="sm" class="product-reviews__sort w-auto" name="order" options=reviewsSortOptions)

          .product-reviews__slot
            .product-reviews__status
              +svg-icon("ui--spinner", "md").spin.text-primary
              | Загружаем отзывы

          +button(type="button" variant="light" text="Показать еще" class="w-100 mt-3 product-reviews__more hidden")

  section.content-section#product-questions
    h2 Вопросы и ответы
    .product-questions(data-id=data.product.id)
      .row.g-3.g-lg-4
        .col-12.col-lg-3.order-lg-2
          .bg-secondary.p-3.rounded
            p Задайте свой вопрос
            +form-product-question()

        .col-12.col-lg-9.order-lg-1
          .product-questions__slot
            .product-questions__status
              +svg-icon("ui--spinner", "md").spin.text-primary
              | Загружаем вопросы

          +button(type="button" variant="light" text="Показать еще" class="w-100 mt-3 product-questions__more hidden")
